# IDE Files
/nbproject/
.idea/*
.settings.xml
.monitor
.DS_Store

# Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

# VSCode
.vscode/
.vscode/*

## NPM
node_modules
node_modules/**/*
bin
reports
reports/**/*
package-lock.json