<!doctype html>
<html lang="en">
<head>
    <title>Demo page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>

        input {
            height: 35px;
            line-height: 35px;
            font-size: 16px;
            border: 1px #aaaaaa solid;
            box-sizing: border-box;
            vertical-align: middle;
            padding: 0 15px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;	
            border-radius: 2px;
            display: inline-block;
        }

        button {
            margin-left: 5px;
            height: 35px;
            padding: 0 10px;
            line-height: 35px;
            font-size: 16px;
            border: 1px rgb(21, 112, 173) solid;
            background-color: rgb(3, 139, 230);
            color: #ffffff;
            box-sizing: border-box;
            vertical-align: middle;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;	
            border-radius: 2px;
        }

        fieldset {
            border: 2px solid #dddddd;
            -moz-border-radius: 8px;
            -webkit-border-radius: 8px;	
            border-radius: 8px;
            padding: 20px;
            margin-bottom: 20px;
        }

        label {
            width: 200px;
            display: inline-block;
            overflow: hidden;
            text-align: left;
        }

        .input-group {
            padding: 10px;
        }

        .button-section {
            display: block;
            margin-top: 20px;
            padding-top: 20px;
        }

        .print-code {
            width: 80%;
            height: 130px;
            border: 1px #dddddd solid;
            margin: 20px;
        }
    </style>
</head>

<body>
<h1>disableautofill.js</h1>
<p>Open the Chorme console window, let's see how it works.</p>
<fieldset>
    <legend>Test</legend>
    <div>
        <form id="testForm" method="get" action="/jquery">
            <div class="input-group">
                <label>Username</label>
                <input type="text" name="username">
            </div>
            <div class="input-group">
                <label>Password</label>
                <input type="text" name="password" class="test-pass">
            </div>
            <div class="input-group">
                <label>Confirm password</label>
                <input type="text" name="confirm_password" class="test-pass2">
            </div>
            <div class="button-section">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</fieldset>
<fieldset>
    <legend>Result</legend>
    <textarea class="print-code"><%= results %></textarea>
</fieldset>

<script src="/dist/jquery.disableautofill.js"></script>
<script>

    $('#testForm').disableAutoFill({
        'fields': ['.test-pass', '.test-pass2'],
        'debug': true
    });


</script>
</body>
</html>